{% extends "base.html" %}

{% block titulo %} Detalles {{ cancion.nombre }} {% endblock %}

{% block contenido_principal %}
<div class="row">
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <img class="media-object" src="/portadas/{{ cancion._id.toString() }}.png">
        </div>
        <div class="media-body">
            <h2>{{ cancion.nombre }}</h2>
            <p>{{ cancion.autor }}</p>
            <p>{{ cancion.genero }}</p>
            <a class="btn btn-primary pull-right"
               href="/cancion/comprar/{{cancion._id.toString()}}">{{ cancion.precio
                }} €</a>
            <!-- Cambiar el precio por "reproducir" si ya está comprada -->
        </div>
    </div>
</div>

<h2 style="margin-top: 3em">Comentarios</h2>

<form class="form-horizontal" style="margin-top: 3em" method="post"
      action="/comentarios/{{ cancion._id.toString() }}">
    <div class="form-group">
        <label for="texto">Texto:</label>
        <textarea class="form-control" style="resize: none" id="texto" name="texto" rows="10" cols="80"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

{% for comentario in comentarios %}
<div class="row" style="margin-top: 3em;">
    <div class="media col-xs-10">
        <div class="media-left media-middle">
            <a href="#">
                <img class="media-object" src="/img/user.png">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ comentario.autor }}</h4>
            {{ comentario.texto }}
        </div>
        <div class="media-right">
            <a href="/comentario/borrar/{{ comentario._id.toString() }}">
                <button class="btn btn-danger">Borrar</button>
            </a>
        </div>
    </div>
</div>
{% endfor %}
<!-- -->
<div style="margin-bottom: 4em"></div>

{% endblock %}