{% extends "base.html" %}

{% block titulo %} Favoritos – uoMusic {% endblock %}

{% block contenido_principal %}

<h2>Favoritos</h2>
<div class="row">
    <!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
    <!-- Inicio del Bloque canción -->
    {% for cancion in favoritos %}
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
        <div style="width: 200px">
            <a href="/cancion/{{ cancion._id.toString() }}"> <img src="/portadas/{{ cancion._id.toString() }}.png"
                                                                  alt="logo"/>
                <!-- http://www.socicon.com/generator.php -->
                <div class="wrap">{{ cancion.nombre }}</div>
                <div class="small">Autor: {{ cancion.autor }}</div>
                <div class="text-right">{{ cancion.precio }} €</div>
            </a>
            <a href="/favoritos/eliminar/{{ cancion._id.toString() }}">
                <button class="btn btn-danger">Quitar</button>
            </a>
        </div>
    </div>
    {% endfor %}
    <!-- Fin del Bloque canción -->
</div>
<h2 style="margin-top: 2em">Precio total</h2>
<div class="row" style="margin-left: 2em">
    <p>El valor de los favoritos es: {{ total }}€</p>
</div>








{% endblock %}